@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* text-font */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f8ff;
}

/* common color */

.theme-dark-color {
  color: #252432;
}

.theme-primary-color {
  color: #8987a1;
}

.theme-common-color {
  color: #e95a08;
}

.theme-common-bg {
  background-color: #e95a08;
}

/* navber style */

.header {
  width: 1140px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.nav ul a {
  text-decoration: none;
  font-size: 1rem;
}

.nav ul li:nth-child(1) {
  font-weight: bold;
}

/* hero-setion */
.hero-section {
  width: 1140px;
  margin: 120px auto 0 auto;
  display: flex;
  /* height: 461px; */
  align-items: end;
}
.hero-title {
  font-size: 4rem;
  font-weight: bold;
}

.hero-text {
  flex: 1;
  margin-top: 30px;
}
.hero-section img {
  flex: 1;
}

.hero-description {
  font-size: 22px;
  margin-top: 13px;
}

/* plant style */

.plant-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.plant-span {
  color: #e95a08;
}
.plant-description {
  font-size: 22px;
  width: 850px;
  text-align: center;
  margin: 16px auto 0 auto;
}
.plant-section {
  max-width: 1140px;
  margin: 120px auto 0 auto;
}
.plant-container {
  margin-top: 49px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 30px 20px;
  justify-content: center;
}

.plant-box-title {
  font-size: 22px;
  font-weight: 400;
  color: #111111;
  margin: 30px 0 20px 0;
}
.plant-box-description {
  font-size: 22px;
  font-weight: bold;
  color: #111111;
  margin-bottom: 30px;
}
.plant-box-btn {
  width: 100%;
  height: 50px;
  background-color: #e95a08;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* flower-plant style */

.flower-plant {
  max-width: 1140px;
  margin: 210px auto 10px auto;
  display: flex;
  gap: 60px;
}

.flower-plant-image {
  position: relative;
}
.flower-plant-text {
  width: 540px;
  margin: 38px 0;
}
.flower-plant-text-title {
  font-size: 50px;
}

.ul-text {
  margin: 20px 0 0 50px;
}

.ul-text li {
  font-weight: 300;
  margin: 20px 0;
  font-size: 22px;
}
.badge-image {
  position: absolute;
  width: 286px;
  height: 286px;
  top: -140px;
  right: -100px;
  filter: drop-shadow(5px 3px 3px #8987a1);
  animation: badge 4s infinite linear;
}

@keyframes badge {
  0% {
    transform: scale(0) rotate(360deg);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0) rotate(-360deg);
  }
}

/* latest section style */
.latest-section {
  width: 1140px;
  margin: 60px auto;
}

.latest-section-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.latest-section-description {
  width: 888px;
  margin: 10px auto 128px auto;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}

.latest-img {
  margin: 50px auto;
  display: flex;
  gap: 25px 28px;
}

.latest-img img {
  border-radius: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.latest-img-child-1 {
  position: relative;
}
.latest-img-child-2 {
  position: relative;
}
.latest-img-child-3 {
  position: relative;
}
.latest-img-child-1 img {
  filter: brightness(0.5);
}
.latest-img-child-2 img {
  filter: brightness(0.7);
}
.latest-img-child-3 img {
  filter: brightness(0.6);
}

.latest-img-text {
  width: 270px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.latest-img-text-2 {
  width: 498px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.latest-img-child-1 h3 {
  font-size: 20px;
  color: #ffffff;
}
.latest-img-child-2 h3 {
  font-size: 20px;
  color: #ffffff;
}

.latest-img-child-1 h4 {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: underline;
}
.latest-img-child-2 h4 {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: underline;
}
.latest-img-child-3 h3 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}
.latest-img-child-3 h4 {
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: underline;
}
/* color-bunch style */
.color-bunch {
  width: 100%;
  height: 533px;
  background-image: url(../assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 120px auto 0 auto;
  display: grid;
  place-content: center;
}
.color-bunch h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}
.input-filt {
  width: 830px;
  height: 50px;
  display: flex;
  margin-top: 23px;
}
.input-filt .serch-input {
  width: 80%;
  height: 100%;
  border: none;
  font-size: 16px;
  padding: 15px 20px;
}
.input-filt .btn-input {
  width: 20%;
  height: 100%;
  border: none;
  background-color: #e95a08;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

/* footer style */
.footer {
  width: 1140px;
  margin: 55px auto 50px auto;
  display: flex;
  justify-content: space-between;
}
.footer-logo-text {
  width: 359px;
  font-size: 22px;
}
.footer-logo-text img {
  margin-bottom: 16px;
}

.footer-section-a li {
  list-style: none;
  margin-bottom: 32px;
}
.footer-section-a a {
  text-decoration: none;
  font-size: 15px;
  color: #8987a1;
}
.footer-icon {
  display: flex;
  gap: 20px;
}

.footer-icon img {
  width: 36px;
  height: 36px;
}
@media screen and (max-width: 576px) {
  .display {
    display: none;
  }
  .header {
    width: 90%;
    margin: 0 auto;
  }

  .nav {
    height: 38px;
  }

  .nav img {
    height: 100%;
  }

  .hero-section {
    flex-direction: column-reverse;
    align-items: start;
    width: 100%;
    margin: 28px auto 0 auto;
    gap: 28px;
  }

  .hero-text {
    width: 90%;
    margin: 0 auto;
  }
  .hero-section img {
    width: 100%;
  }
  .hero-title {
    font-size: 1.3rem;
    width: 191px;
  }
  .hero-description {
    font-size: 0.9rem;
  }

  /* plant  */
  .plant-title {
    font-size: 24px;
  }

  .plant-section {
    width: 90%;
    margin: 65px auto;
  }
  .plant-description {
    font-size: 14px;
    width: 335px;
  }
  .plant-box {
    width: 171px;
  }

  .plant-box img {
    width: 100%;
  }

  .plant-box-title {
    font-size: 16px;
    font-weight: 400;
    color: #111111;
    margin-bottom: 0;
  }
  .plant-box-description {
    font-size: 16px;
    font-weight: bold;
    color: #111111;
    margin-bottom: 30px;
  }

  .plant-box-btn {
    width: 171px;
    height: 50px;
  }
  .plant-container {
    width: 90%;
    margin: 28px auto;
    grid-template-columns: repeat(2, 1fr);
  }

  /* flower-plant style  */
  .flower-plant {
    flex-direction: column;
    width: 90%;
    gap: 10px;
    margin: 40px auto 0 auto;
  }

  .flower-plant img {
    width: 100%;
  }
  .flower-plant-text-title {
    font-size: 24px;
  }
  .ul-text {
    margin-left: 20px;
  }

  .ul-text li {
    font-size: 14px;
    font-weight: 300;
  }
  .flower-plant-text {
    width: 100%;
  }
  .latest-section {
    width: 90%;
    margin: 60px auto;
  }

  .latest-img {
    flex-direction: column;
    gap: 20px 0;
  }

  .latest-img img {
    width: 100%;
  }
  .left {
    gap: 20px 0;
  }

  .latest-img-text-2 {
    width: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .latest-img-child-3 h3 {
    font-size: 20px;
    color: #ffffff;
  }
  .latest-img-child-3 h4 {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
  }

  .latest-section-description {
    width: 90%;
    margin: 0 auto 51px auto;
  }

  /*  */

  .color-bunch {
    width: 100%;
    height: 275px;
  }
  .color-bunch h1 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
  }
  .input-filt {
    width: 100%;
    height: 50px;
  }
  .input-filt .serch-input {
    width: 75%;
    height: 100%;
  }
  .input-filt .btn-input {
    width: 25%;
    height: 100%;
  }

  /* footer */
  .footer {
    width: 90%;
    margin: 55px auto 50px auto;
    flex-direction: column;
  }
  .footer-logo-text {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
