@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* text-font */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.screen-width {
  width: 1140px;
  margin: 0 auto;
}

.theme-dark-color {
  color: #252432;
}

.theme-primary-color {
  color: #8987a1;
}

.theme-common-color {
  color: #e95a08;
}

.theme-common-bg {
  background-color: #e95a08;
}

/* navber style */
.nav {
  margin-top: 30px;
}

/* hero-setion */
.hero-section {
  margin-top: 120px;
}
.hero-title {
  font-size: 4rem;
  font-weight: bold;
}
